<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>TP3</title>
	</head>
	<body>
		<header>
			<h1>Trabajo Practico N°3</h1>
		</header>
		<main>
			<form>
				
			</form>
		</main>
		<aside>
			<ul>
				<li><a href="https://www.unju.edu.ar/">Pagina principal de la UNJU</a></li>
			</ul>
			<img src="../static/image/logo.jpg" alt="">
		</aside>
		<footer>
			<h3>Informacion de contacto</h3>
			<h3>prech88@gmail.com</h3>
		</footer>
	</body>
</html>