<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TP3</title>
	</head>
	<body>
		<header>
			<h1>Trabajo Practico N°3</h1>
		</header>
		<nav>
			<a>Cabecera</a>
			<a>Cuerpo</a>
			<a>Pie</a>
		</nav>
		<main>
			<section>
				<h2>Primera seccion</h2>
				<h3>Contenido de la primera seccion</h3>
			</section>
			<section>
				<h2>Segunda seccion</h2>
				<h3>Contenido de la segunda seccion</h3>
			</section>
			<section>
				<h2>Tercera seccion</h2>
				<h3>Contenido de la tercera seccion</h3>
			</section>
		</main>
	</body>
</html>