<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>TP3</title>
		<link rel="stylesheet" href="../static/css/estilos.css">
	</head>
	<body>
		<header id="encabezado">
			<h1>Trabajo Practico N°3</h1>
		</header>
		<nav class="menu">
			<ul>
				<li><a class="enlace" href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=1#tabs-tree-start">Semana 1 de Programacion Visual</a></li>
				<li><a class="enlace" href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=2#tabs-tree-start">Semana 2 de Programacion Visual</a></li>
				<li><a class="enlace" href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=3#tabs-tree-start">Semana 3 de Programacion Visual</a></li>
			</ul>
		</nav>
		<main class="principal">
			<section class="seccion1">
				<h2 class="subTituloDeSeccion">Programacion visual</h2>
				<h3 class="subSubtituloDeSeccion">Bienvenidos a programacion visual</h3>
				<p>Aqui va todo el contenido de la materia para uso de los alumnos</p>
			</section>
			<section class="seccion2">
				<h2 class="subTituloDeSeccion">Practica</h2>
				<h3 class="subSubtituloDeSeccion">Trabajos practicos</h3>
				<p>Aqui se presenta la lista que contiene los trabajo practicos hasta la fecha</p>
				<ul>
					<li>Trabajo practico 1 </li>
					<li>Trabajo practico 2</li>
					<li>Trabajo practico 3</li>
				</ul>
			</section>
			<section class="seccion3">
				<h2 class="subSubtituloDeSeccion">Practica</h2>
				<h3 class="subSubtituloDeSeccion">Horarios de las clases practicas</h3>
				<p>Aqui se presenta la tabla que se contiene los profesores de practica con sus horarios de clase y de consulta</p>
				<table class="tabla">
					<caption>Horarios de practica</caption>
					<thead>
						<tr>
							<th>Profesor</th>
							<th>Clase Practica</th>
							<th>Clase de Consulta</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Carolina Apaza</td>
							<td>Lunes 18 a 21 hs</td>
							<td>Jueves 17 a 18 hs</td>
						</tr>
						<tr>
							<td>Gustavo Sosa</td>
							<td>Jueves 14 a 17 hs</td>
							<td>Jueves 20 a 21 hs</td>
						</tr>
						<tr>
							<td>Juan Carlos Rodriguez</td>
							<td>Viernes 18 a 21 hs</td>
							<td>Miércoles 18 a 19 hs</td>
						</tr>
					</tbody>
				</table>
			</section>
		</main>
		<aside class="barraLateral">
			<ul>
				<li><a href="https://www.unju.edu.ar/">Pagina principal de la UNJU</a></li>
			</ul>
			<img src="../static/image/logo.jpg" alt="">
		</aside>
		<footer id="pieDePagina">
			<h3>Informacion de contacto</h3>
			<h3>prech88@gmail.com</h3>
		</footer>
	</body>
</html>