<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TP3</title>
	</head>
	<body>
		<header>
			<h1>Trabajo Practico N°3</h1>
		</header>
		<nav>
			<ul>
				<li><a href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=1#tabs-tree-start">Semana 1 de Programacion Visual</a></li>
				<li><a href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=2#tabs-tree-start">Semana 2 de Programacion Visual</a></li>
				<li><a href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=3#tabs-tree-start">Semana 3 de Programacion Visual</a></li>
			</ul>
		</nav>
		<main>
			<section>
				<h2>Primera seccion</h2>
				<h3>Contenido de la primera seccion</h3>
				<p>Aqui va todo el contenido de la primera seccion del trabajo practico numeor 3</p>
			</section>
			<section>
				<h2>Segunda seccion</h2>
				<h3>Contenido de la segunda seccion</h3>
				<p>Aqui se presenta la lista que se contiene dentro de la segunda seccion del trabajo practico numero 3</p>
				<ul>
					<li>Primer elemento de la lista</li>
					<li>Segundo elemento de la lista</li>
					<li>Tercer elemento de la lista</li>
				</ul>
			</section>
			<section>
				<h2>Tercera seccion</h2>
				<h3>Contenido de la tercera seccion</h3>
				<p>Aqui se presenta la tabla que se contiene los profesores de practica con sus horarios de clase y de consulta</p>
				<table border="1">
					<caption>Horarios de practica</caption>
					<thead>
						<tr>
							<th>Profesor</th>
							<th>Clase Practica</th>
							<th>Clase de Consulta</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Carolina Apaza</td>
							<td>Lunes 18 a 21 hs</td>
							<td>Jueves 17 a 18 hs</td>
						</tr>
						<tr>
							<td>Gustavo Sosa</td>
							<td>Jueves 14 a 17 hs</td>
							<td>Jueves 20 a 21 hs</td>
						</tr>
						<tr>
							<td>Juan Carlos Rodriguez</td>
							<td>Viernes 18 a 21 hs</td>
							<td>Miércoles 18 a 19 hs</td>
						</tr>
					</tbody>
				</table>
			</section>
		</main>
	</body>
</html>